* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 10px; */
    padding: 0.8rem 0.4rem;
    background-color: rgb(10, 10, 10);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 {
    font-weight: 400;

}

nav ul li a {
    text-decoration: none;
}

nav {
    position: relative;
    right: 2rem;
    width: 25vw;
}

ul {
    display: flex;
    justify-content: space-between;

}

li {
    list-style: none;
    font-size: larger;
}
li a{
    color: white;
}
a:hover{
    color: red;
}
.showcase_img {
    width: 100vw;
    /* margin: .8rem; */
    margin-top: .6rem;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.container {
    text-align: center;
    margin: 0 .5rem;
    /* border: 1px solid blue; */
    width: 30%;
    padding: 0 2rem;
}

/* article div h1,p{
    padding: 0 1.5rem;
} */
.foot i{
  font-size: larger;
  margin: 0 1rem;
  color: white;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 1rem 0;
    background-color: black;
    color: white;
    width: 100vw;
}